.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--main-background-cards-color);
  border-radius: 15px;
  padding: 20px;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.title {
  color: var(--second-text-color);
}

.purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: var(--price-text-color);
}

.btn {
  height: 30px;
}

.icon:hover * {
  fill: #e04c2a;
}
